.about-us {
    min-width: 320px;
    background-color: rgb(250 245 242);
}

.photo__about-us {
    margin-top: 80px;
    margin-right: 40px;
}


.about-us__subtitle {
    color: #79a207;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    margin-top: 80px;
    margin-left: 40px;
    padding: 15px;
}

.about-us__title {
    font-size: 42px;
    color: #0d3c00;
    font-weight: bold;
    margin-left: 55px;
    padding-right: 15px;
}

.about-us__offer {
    display: flex;
}

.about-us__info {
    font-size: 17px;
    padding: 15px;
    margin-left: 40px;
}

.about-us__offer {
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 48, 3);
    margin-top: 0px;
    margin-left: 50px;
    padding: 10px;
}

.about-us__browse {
    background-color: var(--btn-price-color);
    color: var(--btn-text);
    border-width: 1px;
    border-radius: 28px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    padding: 12px 24px;
    margin-top: 40px;
    margin-left: 80px;
    width: fit-content;

}

.carousel-about {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 387px;
    margin: 10px;
    padding: 10px 0;
    background-color: white;
    line-height: 25.5px;
    border-radius: 5px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-width: 5px;
    border-top-color: var(--btn-price-color);
    box-shadow: 5px 5px 5px rgb(240, 236, 233);
}

.about-us__carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.svg__about-us {
    background-color: var(--carousel-item-color);
    border-radius: 50%;
    color: #79a207;
    width: 50px;
    margin: 20px;
}

.about-us__carousel__title {
    color: rgb(0, 48, 3);
    font-size: 20px;
    font-weight: bolder;
    font-weight: 900;
    margin: 20px;
}

.learn-more {
    font-size: 10px;
    font-weight: bolder;
    color: rgb(0, 48, 3);

}

.about-us__carousel__info {
    color: rgb(91, 95, 91);
    margin: 20px;
}



.about-us__carousel-prev,
.about-us__carousel-next {
    border-radius: 50%;
    background: #79a207;
    width: 27px;
    height: 27px;
    margin: auto;
    line-height: 5px;
    cursor: pointer;
    border: none;
    color: #fffefe;
}

.about-us__carousel-js {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.about-us__carousel-container {
    display: flex;
}

@media (min-width: 320px) {
    .about-us__carousel {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .photo__about {
        width: 344px;
        margin: auto;
    }
}

@media(min-width:768px) {
    .about-us__about {
        display: flex;
        justify-content: space-around;
    }

    .about-us__carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .photo__about {
        width: 544px;
    }
}

@media(min-width:992px) {
    .about-us__carousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .photo__about {
        width: 644px;
    }
}