.best {
    position: relative;
    width: 100% ;
    min-width: 370px;
    max-width: 1200px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 70px auto;
    padding: 0 24px;
}
.best__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.best__subtitle {
    color: var(--btn-price-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 3.8px;
}
.best__info-title {
    font-weight: 700;
    font-size: 34px;
}
.best__item-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
    
}
.best__item-btns {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    
}
.best__item-btns-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--btn-price-color);
    transition: 0.5s;
    letter-spacing: 3.8px;
    font-weight: bold;
}

.best__item-btn :hover {
    color: var(--header-text-color)
}
.best__item-btns-text--active{
    border-bottom: 2px solid var(--header-text-color);
}
.best__item-tabs {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.best__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px ;
    width: 80%;
}
.best__product > a {
    width: 100%;
}
@media (min-width: 690px) {
    .best__item-tabs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      justify-items: center;
      align-items: center;
    }
  }
  
  @media (min-width: 1000px) {
    .best__item-tabs {
      display: grid;
      grid-template-columns:  1fr 1fr 1fr ;
      gap: 15px;
    }
  }
  @media (min-width: 1250px) {
    .best__item-tabs {
      display: grid;
      grid-template-columns: repeat(4, 1fr)   ;
      gap: 15px;
    }
  }
.best__product-img{
    width: 100%;
    
    
    min-height: 200px;
    margin-bottom: 20px;
}
.best__product-text{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.best__product-price{
    color: var(--btn-price-color);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.best__product-btn-btn{
    padding: 12px 24px;
    border-radius: 21px;
    color: var(--btn-text);
    background-color: var(--btn-price-color);
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
}
.best__product-btn-btn:hover {
    background-color: var(--header-text-color);
}
