.btn-primary {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 20px;
    top: 85px;
    z-index: 20;
    border-radius: 50%;
    background-color: var(--btn-text);
    border-color: var(--btn-text);
}

.btn-primary:hover {
    background-color: var(--btn-text);
    border-color: var(--btn-text);
    transition: all 0.9s;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    position: fixed;
    right: 20px;
    font-size: small;
    top: 85px;
    z-index: 20;
    border-radius: 50%;
    background-color: var(--subtitle-color);
    border-color: var(--btn-text);
}