.contacts{
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
    width: auto;
    max-width: 100%;
}
.contcts__top-text {
}

.plant__store {
  margin-top: 30px;
}

.plant__text {
  color: var(--btn-price-color);
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin-bottom: 15px;
}

.layout__top {
  color: var(--headers-color);
  font-family: Lora, serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
}

.layout {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.phone__number {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.tel {
  text-decoration: none;
  color: var(--btn-price-color);
}

.e-mail {
  text-decoration: none;
  color: var(--btn-price-color);
}
.paragraph__info{
    display: flex;
}

/* .address__map {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  
} */

.map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.request__form {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  gap: 15px;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.send__top-text {
  color: var(--text-color);
  font-size: 38px;
  font-weight: 700;
  font-family: Lora, serif;
  text-align: center;
}

.contacts__form-text {
  text-align: center;
}

.contacts__form {
  height: 100%;
  background: #ffffff;
  border-top: solid 3px #79a207;
  border-radius: 2px;
  box-shadow: inset 3px 3px 3px rgb(236, 236, 236);
}

.contacts__form:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: all 0.5s;
}

input {
  width: 270px;
  height: 35px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  border-bottom-color: rgb(13, 60, 0);
  background-color: #faf5f2;
}

#submit__button {
  width: 270px;
  height: 40px;
  padding: 10px;
  margin-top: 56px;
  background-color: var(--text-color-phone);
  color: #fff;
  border: none;
  border-width: 1px;
  border-radius: 21px;
}
@media (min-width: 700px) {
  .contacts {
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 100%;
    min-height: auto;
  }
  .data__components {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  input {
    width: 320px;
  }
  #submit__button {
    width: 320px;
  }
  .data{
    display: flex;
    justify-content: space-between;
    gap: 150px;
  }
}
@media (min-width: 826px) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  input {
    width: 390px;
  }
  #submit__button {
    width: 390px;
  }
}
=======
    max-width: 1170px;
    max-height: 650px;
    --text-color: #0d3c00;
    --text-color-phone: #79a207;
    }
    .contacts__information{
        display: flex;
        flex-direction: column;
    }
    .plant__text{
        color: var(--btn-price-color);
        font-weight: 700;
        font-family: 'Source Sans Pro';
        margin-bottom: 15px;
    }
    .layout__top{
        color: var(--headers-color);
        font-family: Lora,serif;
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .layout{
        font-family: Source Sans Pro,sans-serif;
        font-weight: 900;
        font-size: 24px;
        color: var(--text-color);
        margin-bottom: 15px;
    }
    .phone__number{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 17px;
    }
    .tel{
        text-decoration: none;
        color: var(--btn-price-color);
    }
    .e-mail{
        text-decoration: none;
        color: var(--btn-price-color);
    }
    .data{
        display: flex;
        flex-direction: column;
        line-height: 25px; 
    }
    .address__map{
        margin-bottom: 10px;
        margin-top: 100px;
        height: 100%;
        width: 100%
    }
    .request__form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        border: solid 1px red;
    }
    .send__top-text{
        color: var(--text-color);
        font-size: 38px;
        font-weight: 700;
        font-family: Lora,serif;
        text-align: center;
    }
    .contacts__form{
        height: 100%;
        width: 100%;
        background: #ffffff;
    }
    input{
        width: 330px;
        height: 35px;
        padding: 10px;
        border-radius: 30px;
        border: none;
        border-bottom-color: rgb(13, 60, 0);
        background-color: #faf5f2;
    }
    #submit__button{
        width: 330px;
        height: 40px;
        padding: 10px;
        margin-top: 56px;
        background-color: var(--text-color-phone);
        color: #fff;
        border: none;
        border-width: 1px;
        border-radius: 21px;
    }
>>>>>>> c97b4d7d768c9b50cdc72b13cb0b75b3b7d3e085
