.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 90px 0;
  background-color: var(--another-background-color);
}
.plant__store {
  margin-top: 30px;
}

.plant__text {
  color: var(--btn-price-color);
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin-bottom: 15px;
}

.layout__top {
  color: var(--headers-color);
  font-family: Lora, serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
}

.layout {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.phone__number {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.tel {
  text-decoration: none;
  color: var(--btn-price-color);
}

.e-mail {
  text-decoration: none;
  color: var(--btn-price-color);
}
.address__map iframe {
  z-index: 3;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
}

.request__form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  min-width: 100%;
  gap: 15px;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.send__top-text {
  color: var(--text-color);
  font-size: 38px;
  font-weight: 700;
  font-family: Lora, serif;
  text-align: center;
}

.contacts__form-text {
  text-align: center;
}

.contacts__form {
  margin-top: 50px;
  height: 100%;
  background: #ffffff;
  border-top: solid 3px #79a207;
  border-radius: 2px;
  box-shadow: inset 3px 3px 3px rgb(236, 236, 236);
}

.contacts__form:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: all 0.5s;
}

input {
  width: 270px;
  height: 35px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  border-bottom-color: rgb(13, 60, 0);
  background-color: #faf5f2;
}

#submit__button {
  width: 270px;
  height: 40px;
  padding: 10px;
  margin-top: 56px;
  background-color: var(--btn-price-color);
  color: #fff;
  border: none;
  border-width: 1px;
  border-radius: 21px;
}
@media (min-width: 900px) {
  .contacts {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    width: auto;
    min-width: 100%;
  }
  .contacts__information{
    width: 100%;
    margin: 0 50px;
  }
  .contacts__form {
    width: 100%;
    width: 100%;
    margin: 0 50px;
  }
  .data {
    display: flex;
    justify-content: space-between;
  }
}
