.faq-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 50px;
}

.faq-image {
    margin: 0%;
    display: block;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.faq-items {
    flex-direction: column;
    text-align: right;
    /*width: auto;
    margin-left: 100px;*/
    margin-right: 40px;
}

.faq-information {
    text-align: left;
    justify-content: center;
    margin-left: 10px;
}

.accordion-header {
    font-weight: 700;
    font-size: 24px;
    margin-right: 40px;
}

.accordion-button {
    font-weight: 700;
    font-size: 24px;
    
    font-family: "Source Sans Pro", sans-serif;
    text-decoration-color: #0d3c00;
    padding-left: 2px;
}

.accordion-body {
    font-weight: 400;
    line-height: 25px;
    text-align: start;
}

.accordion-flush {
    text-align: left;
    justify-content: center;
    padding-left: 10px;
}

.faq-link-container {
    text-align: left;
    justify-content: center;
}

.faq__link {
    background-color: var(--btn-price-color);
    color: var(--btn-text);
    border-width: 1px;
    border-radius: 28px;
    border-style: solid;
    cursor: pointer;
    text-align: left;
    padding: 12px 24px;
    margin-top: 30px;
}

.faq-image {
    margin: 0%;
}

.faq__subtitle {
    box-sizing: border-box;
    color: var(--btn-price-color);
    font-weight: bold;
}

.faq__title {
    box-sizing: border-box;
    color: var(--header-text-color);
    font-weight: 700;
    text-align: left;
    font-size: 24px;
}

.faq__text {
    color: var(--header-text-color);
    line-height: 30px;
    font-size: 17px;
}

@media (min-width: 768px) {
    .faq-container {
        flex-direction: row;
    }
}

.accordion-button:not(.collapsed) {
    border-color: white;
    background-color: white;
}

.accordion-button:focus {
    border-color: white;
    text-decoration-color: var(--header-text-color);
}

.clock {
    display: block;
    width: 15rem;
    height: 15rem;
    border: 20px solid #79a207;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .clock {
    display: block;
    }
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}