.faq-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 50px;
}

.faq-image {
    margin: 0%;
    display: block;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.faq-items {
    flex-direction: column;
    text-align: right;
    margin-left: 100px;
    margin-right: 40px;
}

.faq-information {
    text-align: left;
    justify-content: center;
}

.accordion-header {
    font-weight: 700px;
    font-size: 24px;
}

.accordion-button collapsed {
    font-weight: 700;
    font-size: 24px;
}

.accordion-body {
    font-weight: 400;
    line-height: 25px;
    text-align: start;
}

.accordion accordion-flush {
    text-align: left;
    justify-content: center;
    padding-left: 10px;
}

.faq-link-container {
    text-align: left;
    justify-content: center;
}

.faq__link {
    background-color: var(--btn-price-color);
    color: var(--btn-text);
    border-width: 1px;
    border-radius: 28px;
    border-style: solid;
    cursor: pointer;
    text-align: left;
    padding: 12px 24px;
    margin-top: 20px;
}

.faq-image {
    margin: 0%;
}

.faq__subtitle {
    box-sizing: border-box;
    color: var(--btn-price-color);
    font-weight: bold;
}

.faq__title {
    box-sizing: border-box;
    color: var(--header-text-color);
    font-weight: 700;
    text-align: left;
    font-size: 24px;
}

.faq__text {
    color: var(--header-text-color);
    line-height: 30px;
    font-size: 17px;
}

@media (min-width: 768px) {
    .faq-container {
        flex-direction: row;
    }
}
