.faq-container {
    display: flex;
    text-align: left;
}

.faq-items {
    flex-direction: column;
    text-align: right;
    
}

.faq-information {
    text-align: left;
    justify-content: center;
}

.questions {
    font-weight: bold;
}

.answer {
    font-weight: 400;
}

.questions-answers {
    text-align: left;
    justify-content: center;
}

.faq-link-container {
    text-align: left;
    justify-content: center;
}

.faq__link {
    background-color: var(--btn-price-color);
    color: var(--btn-text);
    border-width: 1px;
    border-radius: 28px;
    border-style: solid;
}

.faq-image {
    margin: 0%;
}

.faq__subtitle {
    box-sizing: border-box;
    color: var(--btn-price-color);
    font-weight: bold;
}

.faq__title {
    box-sizing: border-box;
    color: var(--header-text-color);
    font-weight: 700;
    text-align: left;
}

.faq__text {
    color: var(--text-color);
}