footer {
    width: auto;
    height: auto;
    background-color: var(--carousel-image-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    
}

nav .footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px 57px;
}