.header__navigation {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    min-height: 100px;
    padding: 0px 24px;
}

.header__logo-conteiner { 
    z-index: 22;
}

.header__burger-menu-wraper {
    padding: 8px;
}

.header__burger-menu {
    display: flex;
    align-items: center;
    width: 24px;
    height: 16px;
    position: relative;
    cursor: pointer;
    z-index: 22;
}

.header__burger-menu-item {
    background-color: var(--header-text-color);
    position: absolute;
    height: 2px;
    width: 100%;
}

.header__burger-menu::before {
    background-color: var(--header-text-color);
    position: absolute;
    height: 2px;
    width: 100%;
    content: " ";
    top: 0px;
}

.header__burger-menu::after {
    background-color: var(--header-text-color);
    position: absolute;
    height: 2px;
    width: 100%;
    content: " ";
    top: 14px;
}

.header__burger-menu span,
.header__burger-menu::after,
.header__burger-menu::before {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--header-text-color);
    transition: all 0.5s ease-in-out;
}

.header__burger-menu span {
    transform: scale(1);
}

.header__burger-menu.active span {
    transform: scale(0);
}

.header__burger-menu.active::before {
    top: 7px;
    transform: rotate(-225deg);
}

.header__burger-menu.active::after {
    top: 7px;
    transform: rotate(225deg);
}

.header__section {
    background: url("../img/main-photo.webp");
    background-size: cover;
    background-position: 38% 50%;
    min-width: auto;
    min-height: auto;
    display: flex;
    flex-direction: column-reverse;
}

.header__banner-conteiner {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    align-items: center;
    margin: 130px 0px;
    position: relative;
    top: 30px;
}

.header__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__subtitle {
    font-size: 14px;
    color: var(--subtitle-color);
    font-weight: 700;
    letter-spacing: 2.8px;
    margin-top: 1px;
}

.header__title {
    font-size: 48px;
    color: var(--headers-color);
    font-weight: 700;
    line-height: 52.8px;
    margin-top: 21px;
}

.header__paragraph {
    color: var(--header-text-color);
    font-size: 18px;
    line-height: 28.08px;
    margin-top: 35px;
}

.header__banner-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.header__button-wrapper {
    height: auto;
    width: auto;
    margin-top: 52px;
    margin-bottom: 7px;
}

.header__banner-button-item1 {
    background-color: var(--btn-price-color);
    color: var(--btn-text);
    padding: 22px 34px;
    font-size: 12.1px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.01em;
    border-radius: 28px;
    margin-right: 20px;
}

#header__banner-button-item1-anim:hover {
    background-color: var(--btn-price-color);
    color: var(--btn-text);
    animation-name: to-darker-color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes to-darker-color {
    0% {}

    100% {
        background-color: var(--headers-color);
        color: #fff;
        transition-timing-function: ease-in;
    }
}

.header__banner-button-item2 {
    color: var(--header-text-color);
    padding: 21px 33.5px;
    font-size: 12.1px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.01em;
    border-width: 1px;
    border-radius: 28px;
    border-style: solid;
}

#header__banner-button-item2-anim:hover {
    color: var(--header-text-color);
    animation-name: to-black-color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes to-black-color {
    0% {}

    100% {
        background-color: var(--header-text-color);
        transition-timing-function: ease-in;
        color: var(--btn-text);
        border-color: var(--header-text-color);
    }
}

@media (min-width: 587px) {
    .header__banner-conteiner {
        max-width: 550px;
    }
}

@media (min-width: 768px) {
    .header__section {
        background-size: cover;
        background-position: 40% 50%;
        min-width: auto;
        min-height: 916px;
        display: flex;
        flex-direction: column-reverse;
    }

    .header__music-conteiner {
        position: relative;
        top: -50px;
        left: 21px;
        margin-bottom: -150px;
        display: flex;
        justify-content: space-between;
    }

    .header__banner-conteiner {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        align-items: center;
        max-width: 65%;
        position: relative;
        top: -30px;
    }

    .header__banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 15px;
        max-width: 600px;
        margin: auto;
    }

    .header__navigation {
        padding: 0px 32px;
    }

    .header__title {
        font-size: 65px;
        line-height: 71.5px;
    }

}

@media (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }
}

@media (max-width: 992px) {
    .header__menu-conteiner {
        position: absolute;
        left: -10000px;
    }
    
    .header__menu-conteiner.active {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;

        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--btn-text);
        z-index: 21;
        margin: auto;
    }
    .header__menu {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__menu-item {
        display: flex;
        font-size: 17px;
        margin: 6px 20px;
    }

    .header__menu-item-hover:hover {
        color: var(--subtitle-color);
        position: relative;
    }

    .header__menu-item-underline:hover {
        background-color: var(--subtitle-color);
        display: flex;
        flex-direction: column-reverse;
        top: 23.5px;
        height: 2px;
        width: 0%;
        content: " ";
        animation-name: underline-items;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        white-space: nowrap;
        margin-bottom: 23.5px;
    }

    @keyframes underline-items {
        0% {}

        100% {
            width: 100%;
        }
    }
}

@media (min-width: 992px) {
    .header__music-conteiner {
        margin-right: 50px;
    }
    .header__section {
        background-position: 38% 50%;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__music-conteiner {
        position: relative;
        display: block;
        left: -40px;
        top: 0px;
    }


    .header__title {
        font-size: 74px;
        line-height: 81.4px;
    }

    .header__navigation {
        display: flex;
        justify-content: space-between;
        padding: 30px 40px;
        max-width: 1250px;
        margin: auto;
        min-height: auto;
    }

    .header__banner-conteiner {
        padding: 0px 22px;
        margin-top: 300px;
        position: relative;
        top: -80px;
    }

    .header__burger-menu-wraper {
        position: absolute;
        left: -10000px;
    }

    .header__menu-conteiner {
        position: relative;
        left: 0px;
    }

    .header__menu {
        display: flex;
        margin: 0px -20px;
    }

    .header__menu-item {
        display: flex;
        font-size: 17px;
        margin: 6px 20px;
    }

    .header__menu-item-hover:hover {
        color: var(--subtitle-color);
        position: relative;
    }

    .header__menu-item-underline:hover {
        background-color: var(--subtitle-color);
        display: flex;
        flex-direction: column-reverse;
        top: 23.5px;
        margin-bottom: 23.5px;
        height: 2px;
        width: 0%;
        content: " ";
        animation-name: underline-items;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        white-space: nowrap;
    }

    @keyframes underline-items {
        0% {}

        100% {
            width: 100%;
        }
    }
}

@media (min-width: 1268px) {
    .header__section {
        justify-content: center;
        background-position: 32% 50%;
    }

    .header__banner-conteiner {
        position: absolute;
        min-width: 1200px;
        top: 50px;
    }

    .header__banner {
        position: relative;
        right: 300px;
        top: 0px;
    }
}

@media (max-width: 225px) {
    .header__banner-button-item1 {
        margin-right: 0px;
    }
}